<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.itone.illya4gurenko.repository.GruVistaTabRepository">

    <insert id="save">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
            SELECT GRU.GRU_VISTA_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO GRU.GRU_VISTA_TAB (
        SYSTEMACCOUNT, CURRENCY, XALFA, OPERATION, TIME_STAMP,
        POM_ID, UTERRARIO, OLDTBAL, NEWTBAL, ADD_INFO,
        FILE_ID, FOC_STATUS, FOC_TS, FOC_TYPE
        )
        VALUES (
        #{systemAccount}, #{currency}, #{xalfa}, #{operation}, #{timeStamp},
        #{pomId}, #{uterrario}, #{oldTBal}, #{newTBal}, #{addInfo},
        #{fileId}, #{focStatus}, #{focTS}, #{focType}
        )
    </insert>

    <select id="findAll" resultMap="GruVistaTabMap">
        SELECT
        ID, SYSTEMACCOUNT, CURRENCY, XALFA, OPERATION, TIME_STAMP,
        POM_ID, UTERRARIO, OLDTBAL, NEWTBAL, ADD_INFO,
        FILE_ID, FOC_STATUS, FOC_TS, FOC_TYPE
        FROM GRU.GRU_VISTA_TAB
    </select>

    <select id="fetchBatchForUpdate" resultMap="GruVistaTabMap">
        SELECT ID, SYSTEMACCOUNT, CURRENCY, XALFA, OPERATION, TIME_STAMP,
        POM_ID, UTERRARIO, OLDTBAL, NEWTBAL, ADD_INFO,
        FILE_ID, FOC_STATUS, FOC_TS, FOC_TYPE
        FROM GRU.GRU_VISTA_TAB
        WHERE ID IN (
            SELECT ID FROM (
                SELECT ID FROM GRU.GRU_VISTA_TAB
                WHERE FOC_STATUS != 'IN_PROCESS'
                ORDER BY id ASC
            ) WHERE ROWNUM &lt;= #{limit}
        )
        FOR UPDATE SKIP LOCKED
    </select>

    <update id="updateStatusByIds">
        UPDATE GRU.GRU_VISTA_TAB
        SET FOC_STATUS = #{newStatus}
        WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <resultMap id="GruVistaTabMap" type="GruVistaTab" autoMapping="true">
        <id property="id" column="ID"/>
        <result property="systemAccount" column="SYSTEMACCOUNT"/>
        <result property="oldTBal" column="OLDTBAL"/>
        <result property="newTBal" column="NEWTBAL"/>
    </resultMap>
</mapper>
